body {
  margin: 0px;
  font-family:Arial, Helvetica, sans-serif;
}
#app {
}
#container {
  height:496px;
  width: 318px;
  background: white;
  padding: 10px;
  border: 1px solid black;
}
.App--Title {
  font-size: 20px;
}
.App--Upper {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}